.on{
	border-color: #000;
}
.conlist{
	text-indent:30px;
	list-style: none;
	padding-bottom: 40px;
}
.conlist a,a:VISITED{
	color: #666;
}
.conlist h3{
	color:#28A7E1;
}
.conlist li{
	text-align: left;
	border-left: 3px solid;
	border-color: #ffffff;
	padding-bottom: 8px;
}
.condown{
	width: 1000px;
	margin: 0 auto;
	display: flex;
}
.conintro{
	width: 1000px;
	margin: 0 auto;
	color: #777;
	height: 100px;
	padding-top: 40px;
}
.conintro i{
	font-style: normal;
}
.conintro .c-c:hover{
	color: #444;
}
.conintro span.c-n{
	color: #999;
}
.conname{
	padding-top: 15px;
	font-family: 'Microsoft JhengHei';
}
.conup{
	background: url('../images/conheader.jpg') no-repeat center;
}
.conleft{
	width: 20%;
	float: left;
	padding-right: 3%;
	
}
.conright{
	width: 75%;
	float: right;
	padding-right: 2%;
	padding-bottom: 50px;
	min-height: 165px;
}
.conright p{
	text-indent: 2em;
}
.pagelogo-l1 img{
	opacity: 0.3;
	width:500px;
}
.pagelogo-l1{
	width:500px;
	float:left;
	position: relative;
	margin-top: -15%;
    margin-left: 45%;
}
.conname{
	width: 100px;
}
.navlist ul li .s_o{
	color: #28A7E1;
}
.aoutbottom{
	padding-bottom: 30px;
}
.new-list ul{
	list-style: none;
}
.new-list img{
	width: 160px;
    border: 1px solid #EEE;
    float: left;
}
.new-list p{
	position: relative;
	margin-left: 162px;
}

.new-list-title{
	color: #28A7E1;
	font-size: 18px;
}
.new-list-description {
	font-size: 12px;
	color: #999;
}
.new-content h3{
	font-size: 26px;
    text-align: center;
    color: #596266;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px dotted #EEE;
}